.nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    background-color: #F0F4EF;
    line-height: 10vh;

    .a {
        text-decoration: none;
        color: inherit;
    }

    .title {
        margin: auto 30px;
        font-family: 'Fredoka One', cursive;
        text-transform: uppercase;
        font-size: 22px;
        letter-spacing: 2px;
    }

    .links {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-around;

        .link {
            text-transform: uppercase;
            font-family: 'Poppins', sans-serif;
            font-size: 18px;
            letter-spacing: 1px;
        }

        .a {
            text-decoration: none;
            color: inherit;
        }

        .icon {
            display: none;
        }
    }

    .innercontainer {
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        .a {
            text-decoration: none;
            color: inherit;
        }

        .signin {
            text-transform: uppercase;
            font-weight: bold;
            margin: auto 20px;
        }

        .logout {
            text-transform: uppercase;
            font-weight: bold;
            margin: auto 20px;            
        }

        .shopicon {
            font-size: 22px;
            margin: auto 30px;
        }

        .signup {
            background-color: #FFB30F;
            height: 40px;
            line-height: 40px;
            width: 100px;
            border-radius: 500px;
            text-align: center;
            text-transform: uppercase;
            font-weight: bold;
            margin: auto 30px;
        }
    }

    .righticons {
        display: flex;
        align-items: center;

        .icon {
            font-size: 25px;
            display: none;
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 1000px) {
    body {
        overflow-x: hidden !important;
    }
    .nav {
        display: flex;
        align-items: center;

        .title {
            font-size: 20px;
        }

        .navActive {
            transform: translateX(0%);
        }

        .links {
            z-index: 100;
            position: absolute;
            min-height: 92vh;
            right: 0px;
            top: 9vh;
            background-color: #F0F4EF;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 50%;
            transform: translateX(100%);
            transition: 0.25s ease-in;
    
            .link {
                opacity: 1;
            }
        }

        .signin {
            display: none;
        }

        .signup {
            height: 30px;
            line-height: 30px;
            margin: auto;
        }
    
        .icon {
            opacity: 1;
            display: block !important;
            margin: auto 20px auto 5px;
        }
    }
}

@media screen and (max-width: 400px) {
    .title {
        font-size: 15.5px !important;
    }
}